@charset "utf-8";
/* CSS Document */

/* ===============================================
Base styling
=================================================*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    text-align: center;
    background-color: #fafafa;
    margin: auto;
    font-family:'Montserrat', 'Open Sans', sans-serif;
    font-size: 1em;
    line-height: 1.7;
}
img {
    border-radius: 10px;
}
#wrapper {
    padding: 1em;
}
main {
    background-color: #F0F0F0;
    text-align: center;
    height: auto;
    padding-top: 15px;
}
.banner {
    padding: 1em;
}
.name,
.name-footer {
    margin-left: 10px;
}
.name a {
    text-decoration: none;
    color: #4a4a4a;
}
.tagline {
    color: #7f7f7f;
}

.logo {
    width: 100%;
    display: block;
    margin: 1em auto;
}
/* Top Nav */
.main-nav a {
    text-transform: uppercase;
    text-decoration: none;
}
.main-nav ul li {
    list-style-type: none;
    background-color: #fff;
    padding: .5em;
    margin-top: 10px;
    margin-left: 15px;
}
.main-nav ul li a {
  color: #4a4a4a;
  font-weight: 700;
}

a:hover {
    color: #000 !important;
    transition: all 0.5s ease-out;
}

/* Portfolio */
#portfolio {
    margin-top: 15px;
}
.port-item {
    display: inline-block;
    padding: 25px 25px 30px 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.port-img {
    width: 100%;
    margin: 5px;
}
.port-text {
    color: #4a4a4a;
    font-size: 1em;
    margin-right: 10px;
    margin-left: 15px;
}
.port-text p {
    margin-top: 5px;
}
/* Contact */
aside {
    padding: 3em;
    margin-bottom: 1em;
}
.contact-info {
    display: block;
    list-style: none;
}
.cont-span {
    font-weight: 700;
}
hr {
    width: 100%;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 30px;
}
hr.style-two {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
/* Footer */
.main-footer {
      padding: 0 1em 0 1em;
}
.name-footer a {
    text-decoration: none;
    color: #4a4a4a;
    float: left;
}
.foot-btn a {
    text-decoration: none;
    color: #4a4a4a;
    font-weight: bold;
}
.foot-btn {
    float: right;
    margin-top: 5px;
    margin-left: 1em;
}
 .footer-nav {
    list-style-type: none;
    margin-top: 5px;
}
    .footer-nav li {
    float: left;
    margin-left: 1em;
}
.footer-nav, ul li a {
    color: #4a4a4a;
    font-weight: bold;
}
.footer-nav li a {
    text-decoration: none;    
}
.footer-nav {
    display: none;
}
     
/* ===============================================
 Media Queries 
=================================================*/
@media (min-width: 769px) {
    .main-nav {
    float: right;
    }
    .name {
    float: left;
    }
    .main-nav ul li {
     display: inline-block;
    }
    .logo {
     float: right;
     width: 45%;
    }
    .tagline {
     float: left;
     width: 43%;
     margin-top: 15px;
     margin-left: 30px;
     font-size: 1em;
     text-align: left;
     
    }
    main {
     padding-top: 15px;
    }
    .port-item {
     float: left;
     width: 50%;
    }
    .footer-nav {
     display: inline-block;
     float: right;
    }
   
    .foot-btn {
     display: none;
    }   
     .clearfix::after {
     content: "";
     display: table;
     clear: both;

    }
}

@media (min-width: 1025px) {
    main {
    padding: 2em;
    padding-top: 15px;
    margin-bottom: 15px;
    }
    main .port-item:nth-child(2n) {
    clear: none;
   }

   main .port-item:nth-child(3n-1) {
    clear: both;
   }
   .port-item {
    width: 32%;
    margin-right: 5px;
    margin-left: 5px;
   }
   .port-text {
    padding-bottom: 20px;
   }
}






