@charset "utf-8";
/* CSS Document */

/* ===============================================
Base styling
=================================================*/
body {
    text-align: center;
    background-color: #fafafa;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1em;
    line-height: 1.8;
}
#wrapper {
    width: 90%;
    margin: auto;
    padding: 1em;
}
main {
    background-color: #ffffff;
    width: 100%;
}
.banner {
 padding: 1em; 
}
.container {
    max-width: 90%;
    margin: auto;
}
.name a {
    text-decoration: none;
    color: #4a4a4a;
}
.tagline {
    color: #7f7f7f;
}
.logo {
    width: 100%;
    display: block;
    margin: 1em auto; 
}
/* Top Nav */
.main-nav {
/*    width: 100%;*/
    text-transform: uppercase;
/*    margin-right: 50px;*/
}
.main-nav a {
    text-decoration: none;
}
.main-nav ul li {
  list-style-type: none;
  background-color: #fff;
  padding: .5em;
  margin-top: 10px;
}
.main-nav ul li a {
  color: #4a4a4a;
  font-weight: bold;
}
.main-nav a:hover {
    color: #000;
    transition: all 0.5s ease-out;
}
/* Portfolio */
.port-container {
    color: #4a4a4a;
    max-width: 100%;
/*    margin: auto;*/
}
.port-item {
    width: 100%;
    display: inline-block;
   
}
.port-img {
    width: 100%;
}
.port-text {
    color: #4a4a4a;
    width: 100%;
}

/* Contact */
aside {
    padding: 2em;
    margin-bottom: 1em;
}
.contact-info {
    list-style: none;
}
hr {
    margin-top: 1em;
}
/* Footer */
.name-footer a {
    text-decoration: none;
    color: #4a4a4a;
    float: left;
}
.foot-btn a {
    text-decoration: none;
    color: #4a4a4a;
    font-weight: bold;
}
.foot-btn {
    float: right;
    margin-left: 1em;
}
 .footer-nav {
        list-style-type: none;   
    }
    .footer-nav li {
        float: left;
        margin-left: 1em;
    }
    .footer-nav, ul li a {
       color: #4a4a4a;
       font-weight: bold;
    }
    .footer-nav li a {
        text-decoration: none;
     
    }
    .footer-nav {
        display: none;
    }
     
/* ===============================================
 Media Queries 
=================================================*/
@media (min-width: 769px) {
    .main-nav {
        float: right;
    }
    .name {
    float: left;
    }
    .main-nav ul li {
        display: inline-block;
    }
    .logo {
    float: right;
    width: 45%;
    }
    .tagline {
     float: left;
     width: 43%;
     margin-top: 20px;
    }
    .logo, 
    .tagline {
    padding: 1em;
    }
    .port-item {
    float: left;
    clear: right;
    width: 50%;
    }
    .footer-nav {
       display: inline-block;
       float: right;
    }
   
    .foot-btn {
    display: none;
    }
    
    
    .clearfix::after {
     content: "";
     display: table;
     clear: both;

    }
    
}

@media (min-width: 1025px) {
    .port-item {
       width: 33%;
    }
}
@media (min-width: 1100px) {
}
/*
@media (min-width: 1400px) {



*/








